@{
    ViewData["Title"] = "Home Page";
}

<div class="row pt-3">
    <div class="col-6">
        <h2 class="display-6 mb-4">Register</h2>
        <partial name="_Register"></partial>
    </div>
    <div class="col-6">
        <h2 class="display-6 mb-4">Login</h2>
        <partial name="_Login"></partial>
    </div>
</div>